# {{ ansible_managed }}
# https://stackoverflow.com/questions/38367716/jinja2-template-for-ansible-controlled-from-vars

# https://www.knot-dns.cz/docs/3.0/singlehtml/

# https://www.knot-dns.cz/docs/3.0/singlehtml/#server-section
{% if knot_config.server %}
server:{{ knot_config.server| to_nice_yaml }}
{% endif %}

# https://www.knot-dns.cz/docs/3.0/singlehtml/#logging-section
{% if knot_config.log %}
log:{{ knot_config.log | to_nice_yaml }}
{% endif %}

# https://www.knot-dns.cz/docs/3.0/singlehtml/#database-section
{% if knot_config.database %}
database:{{ knot_config.database | to_nice_yaml }}
{% endif %}

# https://www.knot-dns.cz/docs/3.0/singlehtml/#remote-section
{% if knot_config.remote %}
remote:{{ knot_config.remote| to_nice_yaml }}
{% endif %}

# https://www.knot-dns.cz/docs/3.0/singlehtml/#acl-section
{% if knot_config.acl %}
acl:{{ knot_config.acl| to_nice_yaml }}
{% endif %}

# https://www.knot-dns.cz/docs/3.0/singlehtml/#template-section
{% if knot_config.template %}
template:{{ knot_config.template| to_nice_yaml }}
{% endif %}

# https://www.knot-dns.cz/docs/3.0/singlehtml/#zone-section
{% if knot_config.zone %}
zone:{{ knot_config.zone | to_nice_yaml }}
{% endif %}

# https://www.knot-dns.cz/docs/3.0/singlehtml/#control-section
# https://www.knot-dns.cz/docs/3.0/singlehtml/#statistics-section
# https://www.knot-dns.cz/docs/3.0/singlehtml/#key-section
{% if knot_config.key %}
key:{{ key| to_nice_yaml }}
{% endif %}
# https://www.knot-dns.cz/docs/3.0/singlehtml/#submission-section
# https://www.knot-dns.cz/docs/3.0/singlehtml/#policy-section

{% endif %}
